<div class="login-container">
  <h3 [appText]="'app.login.title'"></h3>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="mb-3">
      <label
        for="userName"
        class="form-label"
        [appText]="'app.login.username'"
      ></label>
      <input
        type="text"
        class="form-control"
        id="userName"
        name="userName"
        placeholder="User ID"
        [appTextPlaceholder]="'app.login.username'"
        [(ngModel)]="loginRequest.userName"
        required
      />
    </div>
    <div class="mb-3">
      <label
        for="password"
        class="form-label"
        [appText]="'app.login.password'"
      ></label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        [appTextPlaceholder]="'app.login.password'"
        [(ngModel)]="loginRequest.password"
        required
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary login-btn"
      [disabled]="loginForm.invalid"
      [appText]="'app.login.loginButton'"
    ></button>
    <a
      class="forgot-link text-danger"
      [appText]="'app.login.forgotPassword'"
    ></a>
  </form>
</div>

<!-- News Section -->
<app-news></app-news>
