.forbidden-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  color: #34495e; // primary color

  h1 {
    font-size: 6rem;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
}
