<!-- DROPDOWN + ICON NAVBAR -->
<div class="icon-navbar-wrapper mb-4">
  <!-- DROPDOWN -->
  <div class="top-dropdown-wrap">
    <div class="dropdown d-inline-block">
      <button
        class="btn btn-outline-primary dropdown-toggle fancy-dropdown-btn"
        type="button"
        data-bs-toggle="dropdown"
      >
        Jump to
      </button>
      <ul class="dropdown-menu fancy-dropdown-menu scrollable-dropdown">
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-person-badge me-2"></i>Provider Information
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-telephone me-2"></i>Primary Contact Information
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-geo-alt me-2"></i>Primary Service Address
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-credit-card me-2"></i>Billing & Payment Address
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-envelope me-2"></i>Correspondence Address
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-building me-2"></i>Other Service Locations
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-file-earmark-text me-2"></i>1099 Address
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-house me-2"></i>Home Office Address
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-bar-chart-line-fill me-2"></i>Reports
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- ICON NAVBAR -->
  <div class="icon-navbar">
    <a href="#" class="active" (click)="setActive($event)"
      ><i class="bi bi-person-badge"></i>
      <div>Provider Information</div>
      <span class="arrow">➔</span></a
    >
    <a href="#" (click)="setActive($event)"
      ><i class="bi bi-telephone"></i>
      <div>Primary Contact Information</div>
      <span class="arrow">➔</span></a
    >
    <a href="#" (click)="setActive($event)"
      ><i class="bi bi-geo-alt"></i>
      <div>Primary Service Address</div>
      <span class="arrow">➔</span></a
    >
    <a href="#" (click)="setActive($event)"
      ><i class="bi bi-credit-card"></i>
      <div>Billing & Payment Address</div>
      <span class="arrow">➔</span></a
    >
    <a href="#" (click)="setActive($event)"
      ><i class="bi bi-envelope"></i>
      <div>Correspondence Address</div>
      <span class="arrow">➔</span></a
    >

    <a href="#" (click)="setActive($event)"
      ><i class="bi bi-building"></i>
      <div>Other Service Locations</div>
      <span class="arrow">➔</span></a
    >
    <a href="#" (click)="setActive($event)"
      ><i class="bi bi-file-earmark-text"></i>
      <div>1099 Address</div>
      <span class="arrow">➔</span></a
    >
    <a href="#" (click)="setActive($event)"
      ><i class="bi bi-house"></i>
      <div>Home Office Address</div>
      <span class="arrow">➔</span></a
    >

    <a href="#" (click)="setActive($event)"
      ><i class="bi bi-bar-chart-line-fill"></i>
      <div>Reports</div>
      <span class="arrow">➔</span></a
    >
  </div>
</div>
