<div class="provider-dashboard-wrapper">
  <p class="dashboard-title">Provider Dashboard</p>

  <div
    class="provider-dashboard-header d-flex justify-content-between align-items-center mb-3"
  >
    <!-- Left tabs -->
    <div class="header-tabs">
      <button class="btn btn-tab me-2">My Providers</button>
      <button class="btn btn-tab">Account Administration</button>
    </div>

    <!-- Right actions -->
    <div class="header-actions d-flex align-items-center">
      <!-- Export icons -->
      <button type="button" class="btn btn-success me-2" title="Export Excel">
        <i class="bi bi-file-earmark-excel"></i> Excel
      </button>

      <button type="button" class="btn btn-danger me-2" title="Export PDF">
        <i class="bi bi-file-earmark-pdf"></i> PDF
      </button>
      <!-- New Provider button -->
      <button class="btn btn-new-provider" (click)="goToRegistration()">
        New Provider ?
      </button>
    </div>
  </div>

  <div class="grid-container">
    <app-data-grid
      [columns]="columns"
      [data]="providers"
      [pagingEnabled]="true"
      [pagingMode]="'client'"
      [sortingMode]="'client'"
      [pageSize]="10"
      noDataMessage="No providers found"
    >
    </app-data-grid>
  </div>
</div>
