<div class="news-section">
  <h4>Latest News</h4>

  <h6>
    <strong>For Nursing Facilities: Important Ratesetting Message</strong>
  </h6>
  <p>
    The release of the Minimum Data Set (MDS) information was delayed due to the
    Ohio Department of Medicaid (ODM) awaiting data use approval from CMS.
    Updated reports were made available January 31 for review and correction. A
    second report will be released by February 7, for further review and
    correction.
    <strong>The last date for corrections is Friday, February 21.</strong>
    The final report will be posted the following week, on Friday, February 28.
  </p>

  <h6>
    <strong
      >Important reminder: Update 1099 address information in the Provider
      Network Management (PNM) module.</strong
    >
  </h6>
  <p>
    It is important that providers update all 1099 address information,
    including extra details like suite number or office number, to reduce the
    chance of non-delivery by postal service.
  </p>
  <ul>
    <li><a href="#">Accessing the 1099 Information</a></li>
    <li><a href="#">Updating or Adding Practice Locations</a></li>
  </ul>

  <p>
    <strong>EFFECTIVE IMMEDIATELY</strong> the
    <a href="mailto:PNMSupport@medicaid.ohio.gov">
      PNMSupport&#64;medicaid.ohio.gov
    </a>
    mailbox is no longer available.
  </p>
</div>
