.provider-registration-layout-page-wrapper {
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 12px #8e97f3;

    .card {
      border-radius: 12px;
      box-shadow: 0 8px 26px rgba(17, 24, 39, 0.06);
      border: none;
      padding: 2rem;
    }
  }
}



